<form action="{{ path("membership_cancelApplication") }}" method="post">

    <input type="hidden" name="id" value="{{ membership.id }}"/>
    <input type="hidden" name="_token" value="{{ csrf_token('cancel-apply') }}"/>

    <button class="btn btn-danger">
        {{ include('MbyCommunityBundle:Action/icons:apply_cancel-icon.html.twig') }}
        {{ 'cancel my application' | trans({}, 'MbyCommunityBundle') | capitalize }}
    </button>

</form>
