<form class="form-inline" action="{{ path("membership_apply") }}" method="post">
    <input type="hidden" name="id" value="{{ seasonId }}"/>
    <input type="hidden" name="_token" value="{{ csrf_token('apply') }}"/>

    <button class="btn btn-success">
        {{ include('MbyCommunityBundle:Action/icons:apply-icon.html.twig') }}
        {{ 'apply' | trans({}, 'MbyCommunityBundle') | capitalize }}
    </button>
</form>