<div>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <p>
            {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
        </p>
        <p>
            <a class="btn btn-danger btn-lg btn-block" href="{{ path('fos_user_security_logout') }}">
                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
        </p>
    {% else %}
        <p>
            <a class="btn btn-primary btn-lg btn-block" href="{{ path('fos_user_security_login') }}">
                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                {{ 'layout.login'|trans({}, 'FOSUserBundle') }}
            </a>
        </p>
        <p>
            <a class="btn btn-warning btn-lg btn-block" href="{{ path('fos_user_registration_register') }}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                {{ 'layout.register'|trans({}, 'FOSUserBundle') }}
            </a>
        </p>
    {% endif %}
</div>

{% for type, messages in app.session.flashBag.all %}
    {% for message in messages %}
        <div class="{{ type }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
    {% endfor %}
{% endfor %}