<form class="form-inline" action="{{ path("membership_apply") }}" method="post">

    {{ form_widget(form.id, {'attr': {'value': seasonId}}) }}
    {{ form_widget(form._token) }}

    <button class="btn btn-success">
        {{ include('MbyCommunityBundle:Action:apply-icon.html.twig') }}
        {{ 'apply' | trans({}, 'MbyCommunityBundle') | capitalize }}
    </button>
</form>