{% extends 'MbyCommunityBundle:Lobby:lobbyLayout.html.twig' %}

{% block page %}

    <div class="page-header">
        <h1>{{ 'ownership' | trans({}, 'MbyCommunityBundle') | capitalize }}</h1>
    </div>

    <a class="btn btn-success" href="">Start new community</a>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h2 class="panel-title">
                {{ 'leagend' | trans({}, 'MbyCommunityBundle') | capitalize }}
            </h2>
        </div>

        <div class="panel-body">
            <span class="badge owner">
                {{ 'owners' | trans({}, 'MbyCommunityBundle') | capitalize }}
            </span>
            <span class="badge admin">
                {{ 'administrators' | trans({}, 'MbyCommunityBundle') | capitalize }}
            </span>
            <span class="badge moderator">
                {{ 'moderators' | trans({}, 'MbyCommunityBundle') | capitalize }}
            </span>
        </div>
    </div>

    {% for privilege in privileges %}
        {{ include('MbyCommunityBundle:CommunityPrivilege:communityPrivilege-owner.html.twig', {'privilege' : privilege, 'panel_classes' : 'panel-success'}) }}
    {% endfor %}

{% endblock %}