<div class="season">
    <h2>{{ season.community.name }} - {{ season.name }}</h2>
    <p>
        From: {{ season.fromDate | localizeddate('medium', 'none', app.request.locale) }}
        To : {{ season.toDate | localizeddate('medium', 'none', app.request.locale) }}
    </p>

    <h3>Members</h3>
    <ul>
        {% for membership in season.memberships %}
            <li>
                {{ membership.user.username }} -
                From:
                {% if membership.fromDate is not empty %}
                    {{ membership.fromDate | localizeddate('medium', 'none', app.request.locale) }}
                {% else %}
                    -
                {% endif %}
                To :
                {% if membership.toDate is not empty %}
                    {{ membership.toDate | localizeddate('medium', 'none', app.request.locale) }}
                {% else %}
                    -
                {% endif %}

                <h4>Responsibilities</h4>
                <ul>
                    {% for responsibility in membership.responsibilities %}
                        <li>
                            {{ responsibility.name }}
                        </li>
                    {% endfor %}
                </ul>

            </li>
        {% endfor %}
    </ul>
</div>
