{% extends 'MbyCommunityBundle::itemInPanel.html.twig' %}

{% block panel %}
    {% set obj_class = 'obj_season' %}
    {{ parent() }}
{% endblock %}

{% block title %}
    <span class="glyphicon glyphicon-star"></span>
    {{ season.community.name }} - {{ season.name }}

{% endblock %}

{% block body %}

    {{ season.community.description }}

    {% if season.memberships is not empty %}
        {# the user is member of the season #}

        {% set membership = season.memberships.first %}
        {% set responsibilities = membership.responsibilities %}

        <h4>{{ 'my responsibilities' | trans({}, 'MbyCommunityBundle') | capitalize }}</h4>
        <ul>
            {% for responsibility in responsibilities %}
                <li>{{ responsibility.name }}</li>
            {% endfor %}

        </ul>

    {% else %}

        {% set responsibilities = {} %}

    {% endif %}

    {% if 'applicant' in responsibilities %}
        <form action="{{ path("membership_cancelApplication") }}" method="post">
            <input type="hidden" name="user_id" value="{{ membership.user.id }}"/>
            <input type="hidden" name="season_id" value="{{ season.id }}"/>
            <button class="btn btn-danger">
                <span class="glyphicon glyphicon-remove"></span>
                {{ 'cancel my application' | trans({}, 'MbyCommunityBundle') | capitalize }}
            </button>
        </form>

    {% elseif 'member' in responsibilities %}
        Member !

    {% else %}
        <form action="{{ path("membership_apply") }}" method="post">
            <input type="hidden" name="season_id" value="{{ season.id }}"/>
            <button class="btn btn-success">
                <span class="glyphicon glyphicon-ok"></span>
                {{ 'apply' | trans({}, 'MbyCommunityBundle') | capitalize }}
            </button>
        </form>

    {% endif %}

    {% if 'president' in responsibilities %}
        President !
    {% endif %}

{% endblock %}

{% block footer %}

    {{ 'from' | trans({}, 'MbyCommunityBundle') | capitalize }}: {{ season.fromDate | localizeddate('medium', 'none', app.request.locale) }}
    -
    {{ 'to' | trans({}, 'MbyCommunityBundle') | capitalize }}: {{ season.toDate | localizeddate('medium', 'none', app.request.locale) }}

{% endblock %}

